<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Biblioteca Isfdyt 210', root_path, class:"navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <%= link_to "Contacto", home_about_path, class:"nav-link" %>
      </li>

      <% if can? :read, :all %>
        <li class="nav-item">
        <%= link_to "Libros", books_path, class:"nav-link" %>
        </li>
      <%end%>

      <% if can? :manage, @loan %>
        <li class="nav-item">
          <%= link_to "Agregar libro", new_book_path, class:"nav-link" %>
        </li>
      <%end%>
        
        <li class="nav-item">
        <%= link_to "Prestamos", loans_path, class:"nav-link" %>
        </li>

      <% if can? :manage, @user %>
        <li class="nav-item">
          <%= link_to "Editar Perfil", edit_user_registration_path, class:"nav-link" %>
        </li>
      <% end %>

      <% if current_user.present? %>
        <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
        </li>
      <% end %>

      <% if can? :manage, @loan %>
        <li class="nav-item">
          <%= link_to "Registrase", new_user_path, class:"nav-link" %>
        </li>
      <%end%>

      <% unless current_user.present? %>
        <li class="nav-item">
          <%= link_to "Loguearse", new_user_session_path, class:"nav-link" %>
        </li>
      <%end%>
    </ul>
  
  <% if user_signed_in? %>
    <p style="color:white; font-size: 1em">Email: <%= current_user.email if current_user %>
    <br>Rol: <%= current_user.role if current_user  %></p>
  <%end%>
  </div>
</nav>