<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <% usuario = User.all.map { |user| [user.email, user.id] } %>
    <%= form.select :user_id, options_for_select(usuario), {}, class: "form-control" %>
    
  </div>

  <div class="field form-group">
    <%= form.text_field :book_id, class:"form-control", placeholder:"Id de Book" %>
  </div>

  <div class="field form-group">
    <%= form.date_field :loan_start, class:"form-control", placeholder:"Fecha de Inicio" %>
  </div>

  <div class="field form-group">
    <%= form.date_field :loan_finish, class:"form-control", placeholder:"Fecha de Finalizacion" %>
  </div>

  
  <div class="form-group">
    <%= form.select :state, options_for_select(["En Curso","Entregado","Cancelado","Reservado"]), {}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
  <br>
<% end %>