<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <% if can? :manage, @loan %>
    <%= form.select :user_id, options_for_select(@user_edit_list), {}, class: "form-control" %>
  <% else %>
    <%= form.text_field :user_id, class:"form-control", placeholder:"#{current_user.email}", value:"#{current_user.id}" %>     
  <% end %>
  </div>
 
  <div class="form-group">
      <%= form.select :book_id, options_for_select(@book_list), {}, class: "form-control" %>
  </div>
 
  <div class="field form-group">
    <%= form.date_field :loan_start, class:"form-control", placeholder:"Fecha de Inicio" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :gave_loan, class:"form-control", placeholder:"Entrego Prestamo" %>
  </div>

  <div class="field form-group">
    <%= form.date_field :loan_end, class:"form-control", placeholder:"Fecha de Finalizacion" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :received_loan, class:"form-control", placeholder:"Recibio Prestamo" %>
  </div>

  
  <div class="form-group">

    <% if can? :manage, @loan %>
      <%= form.select :status, options_for_select(@status_librarian), {}, class: "form-control" %>
    <% else %>
      <%= form.select :status, options_for_select([@status_student]), {}, class: "form-control" %>
    <% end %>

  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
  <br>

<% end %>